/* Less Variables */
@bkg: #fff;
@bkgheader: #07698;
@bkgfooter: #07698;
@maincolor:#f99d33;
@bdf: 'texgyreadventorregular';
@titlefont : 'texgyreadventorbold';
@primarycolor: #666;
@links: #373737;
@linkshover: #ae895d;
@bordercolor :#eaeaea;
@inputtext: #fff;
@bgmenu: #343333;